body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

.container {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    width: 30px;
    height: 30Px;
    position: absolute;
    left: 0px;
    top: 700px;
    z-index: 5;
}
.container:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}





.graphbuttons {
       background-color: #000000;
       color: #FFFFFF;
       padding: 10px;
       border-radius: 10px;
       -moz-border-radius: 10px;
       -webkit-border-radius: 10px;
       margin:10px;
       width: 90px;
       height: 40px;
   }
.chartclass{
  position: relative;
  z-index: 0;
  width: 500px;
  height: 500px;
  float: left;
}

#buttons {
  float: right;
  border: 1px solid black;
}
#myTable, td{
  float: right;
  border: 1px solid black;
  width: 200px;
}
#dataValuesTable{
  float: left;
  border: 1px solid black;
}

#mapid { height: 500px;
float: clear;
}
.datafield{
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 5px;
}
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow:scroll;
    overflow-x:hidden;
    display: grid;
    grid-template-columns: 250px 250px;
    display: none;
    z-index: 2;
}

input[id = chartTitle] {
    width: 100%;
    height: 20px;
    float: left;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
	overflow; auto;
    /*overflow:scroll;
    overflow-y:hidden;*/

}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.dropbtn {
  margin: auto;
  padding: 20px;
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  float:left;

}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
p.catInstruction{
  float:left;
  padding: 10px;
}

.dropdown {
    /*overflow:scroll;
    overflow-x:hidden;*/
	position: relative;
	display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height:250px;/* This code set the scroll button */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.show {display: block;}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
